@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}



body{
    background: url(imagens/espaco.jpg);
    
}



img#astro{
    position: absolute;
    

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    
    
    
}


  
