@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}





img#fundo{
    position: absolute;
    height: 100%;
    width: 100%;
    
   
    
   
    
    
}

img#astro{
    position: relative;
    margin: auto;
    display: block;
    margin-top: 200px;
    
    
}


  
